XSD/Board.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="Robot.xsd"/>
    <xs:include schemaLocation="Factory.xsd"/>
    <xs:element name="Board">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Robots"/>
                <xs:element ref="Factory"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Robots">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Robot" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="number" use="required" type="xs:nonNegativeInteger"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
