XSD/DecorationCrusher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="PhaseNumber.xsd"/>
    <xs:element name="DecorationCrusher">
        <xs:complexType>
            <xs:attribute name="x" use="required" type="xs:nonNegativeInteger"/>
            <xs:attribute name="y" use="required" type="xs:nonNegativeInteger"/>
            <xs:attribute name="phase1" use="required" type="PhaseNumber"/>
            <xs:attribute name="phase2" use="required" type="PhaseNumber"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
