XSD/EventEffectStart.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="PlayerID.xsd"/>
    <xs:element name="EventEffectStart">
        <xs:complexType>
            <xs:attribute name="playerID" use="required" type="PlayerID"/>
            <xs:attribute name="x" use="required" type="xs:nonNegativeInteger"/>
            <xs:attribute name="y" use="required" type="xs:nonNegativeInteger"/>
            <xs:attribute name="isDecorationEffect" use="required" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>