XSD/StartConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="StartConfig">
        <xs:complexType>
            <xs:attribute name="x" use="required" type="xs:nonNegativeInteger"/>
            <xs:attribute name="y" use="required" type="xs:nonNegativeInteger"/>
            <xs:attribute name="direction" use="required" type="Direction"/>
        </xs:complexType>
    </xs:element>
</xs:schema>